---
title: Contacts
---

.contacts
  %p
    %i.icon-home
    Moscow, Russian Federation
  %p
    %i.icon-skype
    Skype:
    %strong alexander.danilenko
  %p
    %i.icon-linkedin
    Linkedin:
    %strong= link_to("linkedin.com/pub/alexander-danilenko/33/442/552", "http://www.linkedin.com/pub/alexander-danilenko/33/442/552")
  %p
    %i.icon-facebook
    Facebook:
    %strong= link_to("facebook.com/alexander.danilenko", "https://www.facebook.com/alexander.danilenko")
  %p
    %i.icon-github
    github:
    %strong= link_to("github.com/doz", "https://github.com/doz")