!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= "#{@item[:title]} - Alexander Danilenko"
    %link{rel: "stylesheet", type: "text/css", href: "/style.css", media: "screen"}
    %meta{name: "generator", content: "nanoc <%= Nanoc::VERSION %>"}
  %body
    #main
      = yield
    #sidebar
