@import "bootstrap.css.scss";
@import "coderay.css.scss";

.navbar .navbar-inner {
  margin-right: -20px;
  margin-left: -20px;
}

.sidebar-nav {
  padding: 9px 0;

  .toptal {
    margin-top: 10px;
    font-size: 14px;

    a { text-decoration: underline; }
  }
}

.sidebar-about {
  position: relative;
  overflow: hidden;
  padding: 9px 15px;
  font-size: 14px;
  line-height: 16px;
  .nav {
    margin: 0;
    .nav-header {
      padding: 3px 0;
    }
  }
  img {
    float: left;
    margin-right: 10px;
  }
}

.subtitle {
  color: #999;
  font-weight: normal;
  font-size: 16px;
}

.page-header {
  .subtitle {
    font-size: 18px;
    line-height: 25px;
  }
}

.post-info {
  margin: 5px 0 15px 0;
  .comments-count {
    color: #999;
    font-size: 12px;
  }
}

#disqus_thread {
  margin: 40px 0;
}

pre.well {
  padding: 0;

  .label {
    margin: 2px 4px;
  }
}

code.well {
  padding: 2px 5px;
}

.green {
  background-color: #dff0d8;
}

.red {
  background-color: #f2dede;
}

.yellow {
  background-color: #fcf8e3;
}

.nolines {
  .line-numbers {
    display: none;
  }
}

[class^="icon-"],[class*=" icon-"] { margin: 0 3px 1px 0; }
.icon-linkedin, .icon-skype, .icon-facebook, .icon-twitter, .icon-github { background-image: url("/images/icons.png"); }
.icon-linkedin { background-position: 0 0; }
.icon-skype { background-position: -14px 0; }
.icon-facebook { background-position: -2*14px 0; }
.icon-twitter { background-position: -3*14px 0; }
.icon-github { background-position: -4*14px 0; }

.footer-social {
  float: right;
}